.App {
  background-color: rgb(228, 235, 238);
  min-height: 100vh;
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Yeseva One', cursive;
}

/* MENU */
menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  margin: 0;

  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
menu > .authWrapper {
  display: flex;
  gap: 1rem;
}
menu a {
  text-decoration: none;
}
menu.notSignedIn {
  position: sticky;
  top: 0;
}

/* MAIN AREA */

main>h1 {
  /* hero */
  margin: 0;
  padding: 2rem;
  background-color: rgb(50, 50, 51);
  color: white;
}

/* POSTS */
main.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}
main.posts>h1 {
  grid-column: 1 / -1;
}

main>article {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;

  display: grid;
  line-height: 1.8;
}
article:last-child {
  border: none;
}


.byline {
  color: rgb(88, 88, 88);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.badge {
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
}
.draft-badge {
  background-color: rgb(88, 88, 88);
  color: white;
}
.badge-role {
  color: white;
}
.badge-role-admin {
  background-color: rgb(100, 9, 9);
}
.badge-role-author {
  background-color: rgb(194, 139, 19);
}
.badge-role-commenter {
  background-color: rgb(3, 129, 187);
}
.post h1 {
  margin: 0;
}



@media (min-width: 500px) {
  .mainNav, menu.notSignedIn {
    position: sticky;
    top: 0;
  }
}