body {
  min-height: 100vh;
}
.App {
  background-color: white;
  min-height: 100vh;
}
a {
  color: rgb(172, 28, 28);
  text-decoration: none;
}
a:visited {
  color: rgb(100, 9, 9);
}
a:hover {
  color: rgb(124, 42, 42);
}
a:active {
  color: rgb(228, 68, 68);
}
a:focus {
  background-color: rgb(172, 28, 28);
  color: white;
}

/* HEADERS */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
}
/* BADGES */
.badge {
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
}
.draft-badge {
  background-color: rgb(88, 88, 88);
  color: white;
}
.badge-role {
  color: white;
}
.badge-role-admin {
  background-color: rgb(100, 9, 9);
}
.badge-role-author {
  background-color: rgb(194, 139, 19);
}
.badge-role-commenter {
  background-color: rgb(3, 129, 187);
}

/* MENU */
menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  margin: 0;

  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
menu > .authWrapper {
  display: flex;
  gap: 1rem;
}
menu a {
  text-decoration: none;
}
menu.notSignedIn {
  position: sticky;
  top: 0;
}

/* MAIN AREA */

.hero {
  width: 100%;
  background-color: rgb(50, 50, 51);
  color: white;
}
.hero>h1 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;

}

/* POSTS */
.postsWrapper {
  max-width: 1000px;
  margin: 1rem auto 0 auto;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
main.posts>h1 {
  grid-column: 1 / -1;
}

.postsWrapper>article {
  background-color: white;
  border: 3px solid black;
  box-shadow: 1rem 0.7rem rgb(172, 28, 28);
  padding: 1rem;

  display: grid;
  line-height: 1.8;
}

/* POST */
.byline {
  color: rgb(88, 88, 88);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.post h1 {
  margin: 0;
}
.post h1+.badge {
  /* TODO: Position next to h1 */
}
.post main a {
  text-decoration: underline;
}

/* POST CARDS */
.postsWrapper .post {
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
.postsWrapper .post>header {
  padding: 1rem 1rem 0 1rem;
}
.postsWrapper .post>main {
  padding: 0 1rem;
}
.postsWrapper .post>footer {
  border-top: 1px solid rgb(218, 218, 218);
  background-color: rgb(250, 250, 250);
  margin-top: 1rem;
}
.postsWrapper .post>footer>p {
  margin: 0.8rem 1rem;
  font-size: 0.8rem;
}
.postsWrapper .post .byline {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0;
}

/* LARGER SCREENS */
@media (min-width: 500px) {
  .mainNav, menu.notSignedIn {
    position: sticky;
    top: 0;
  }
  .postsWrapper, .hero>h1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}