.App {
  text-align: center;
}

menu {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

article {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 4rem;
  padding-left: 4rem;

  text-align: left;

  border-bottom: 1px solid #ccc;

  display: grid;

  line-height: 1.8;
}
article:last-child {
  border: none;
}


.post header .byline {
  color: rgb(88, 88, 88);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.byline small {
  background-color: rgb(88, 88, 88);
  color: white;
  border-radius: 3px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.post h1 {
  margin: 0;
}